:root {
	font-family: system-ui, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center
}